@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../App.scss' as *;

.under-video {
    @include desktop {
        padding: 0rem 5rem 0rem 5rem;
    }

    &__container {
        @include desktop {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0 auto 0 auto;
        }
    }

    &__left {
        @include desktop {
            display: flex;
            flex-direction: column;
            width: 70%;
            border-right: .0625rem solid $mercury;
        }
    }

    &__right {
        @include desktop {  
            width: 30%;
        }
    }
}