@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../App.scss' as *;

.comments {
    background-color: $white;
    padding: 1.5rem 1rem 1.5rem 1rem; 
    text-align: left;

    @include tablet {
        padding: 1rem 2.25rem 1.5rem 2.25rem;
    }

    @include desktop {
        width: 100%;
        padding: 1rem 0rem 1.5rem 0rem;
    }


    &__count {
        @include text-subheader;
        font-weight: 550;
        font-size: .9375rem;
        color: $brainflix-black;
        padding-bottom: 1rem;

        @include tablet {
            font-weight: 600;
        }
        

        @include desktop {
            width: 100%;
        }
    }

    &__form-container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        gap: 1rem;
        border-bottom: .0625rem solid $mercury;
        padding: 0 0 1rem 0rem;
        width: 100%;

        @include desktop {
            padding: 0 0 1rem 1rem;
        }
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: $mercury;
        margin-top: 1.5rem;

        @include tablet {
            width: 2.75rem;
            height: 2.75rem;
            margin-top: 1.5rem;
        }

        @include tablet {
            margin-right: 1rem;
        }
    }

    &__form {
        width: 100%;

        @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    }

    &__form-subheader {
        @include text-label;
        font-weight: 550;
        color: $silver;
        margin-bottom: .25rem;
        font-size: .9375rem;

        @include tablet {
            width: 100%
            }
    }

    &__form-input {
        @include text-body;
        color: $brainflix-darkBlack;
        height: 6rem;
        width: 100%;
        border-radius: .25rem;
        border: .0625rem solid $mercury;
        padding: .75rem .75rem .75rem 12px;
        margin-bottom: 1rem;
        background-color: $alabaster;
        resize: none;

        @include tablet {
            height: 3rem;
            max-width: 65%;
            resize: none;
        }

        @include desktop {
            width: 65%;
        }

        &:active, &:focus {
            outline: none;
            border: .0625rem solid $brainflix-blue;
        }
    }

    &__form-button {
        @include text-section-header;
        color: $white;
        font-weight: 600;
        font-size: .9375rem;
        letter-spacing: .0156rem;
        background-color: $brainflix-blue;
        width: 100%;
        border: none;
        border-radius: .25rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding: .75rem .75rem .75rem .75rem;

        @include tablet {
            @include text-body;
            color: $white;
            font-weight: 600;
            font-size: .9375rem;
            letter-spacing: .0156rem;
            width: 32%;
            height: 100%;
            padding: .75rem .75rem .75rem .75rem;
            margin: 0 0 0 1rem;
        }

        @include desktop {
            width: 28%;
            margin: 0 1.5rem 0 0;
        }

        &:hover {
            background-color: $brainflix-darkBlue;
        }

        &-img {
            margin-right: auto;
        }
    
        &-text {
            margin-right: auto;
        }
    }
}

#button-img {
    margin-right: auto;
}

#button-text {
    margin-right: auto;
}

.old-comments {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: .0625rem solid $mercury;
    padding: 1rem 0rem 1rem 0rem;

    @include tablet {
        padding: 1.5rem 0rem;
    }

    &:last-of-type {
        @include desktop {
        border-bottom: none;
        }
    }

    @include desktop {
        width: 100%;
        padding: 1.5rem 1.5rem 1.5rem 1rem;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $mercury;
        object-fit: cover;

        @include tablet {
            width: 2.75rem;
            height: 2.75rem;
            margin-right: 1rem;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .5rem;
    }

    &__name {
        @include text-body;
        color: $brainflix-black;
        font-weight: 600;
    }

    &__date {
        @include text-body;
        color: $silver;
    }

    &__text {
        @include text-body;
        color: $brainflix-black;
        font-weight: 400;
        word-wrap: break-word;
    }
}

.form__error {
    border: .0625rem solid $error-red;
}